.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $perehid, visibility $perehid;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity $perehid, visibility $perehid;
}
.backdrop__modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: $main-bcg-cl;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: color $perehid;
}

.modal-btn:focus .close-icon,
.modal-btn:hover .close-icon {
  fill: var(--accent-txt-cl);
}
.form__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: $main-letter-s;
  color: #212121;
}
.form-group-modal {
  margin-bottom: 20px;
}
.form-group-modal__field {
  display: block;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-group-modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $text-cl;
  margin-bottom: 4px;
}
.form-group-modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 36px;
  outline: transparent;
  transition: border-color $perehid;
  cursor: pointer;
  &:hover, &:focus {
    border-color: $accent-txt-cl;
  }
}
.form-group-modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill $perehid;
  .form-group-modal__input:hover + &, .form-group-modal__input:focus + & {
    fill: $accent-txt-cl;
  }
}
.form-group-modal__comment {
  @extend %textarea;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: calc(14 / 13);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
}
.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &__checkbox {
    @extend %visually-hidden
  }
}
.form-agreement__checkbox:checked + .form-agreement-icons .form-agreement-icons__check {
  opacity: 1;
}
.form-agreement__checkbox:checked + .form-agreement-icons .form-agreement-icons__uncheck {
  opacity: 0;
}
.form-agreement-icons {
  margin-right: 7px;
  &__check {
    opacity: 0;
    transition: opacity $perehid;
  }
  &__uncheck {
    transition: opacity $perehid;
  }
}

.form-agreement-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: $main-letter-s;
  &__link {
    color: $accent-txt-cl;
  }
}
.form-agreement__btn {
  @extend %btn;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  width: 216px;
  padding: 10px 32px;

}