.section-slogan {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Imgbcg1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $accent-bcg-cl;
  padding: 200px 0;
  text-align: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Imgbcg1.jpeg);
}
.section-slogan__conteiner {
  @extend %conteiner;
}
.section-slogan__title {
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: $accent-letter-s;
  text-transform: uppercase;
  color: #ffff;
}
.section-slogan__btn {
  @extend %btn;
  width: 216px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--perehid);
  &:focus,
  &:hover {
    background-color: $btn-act-bcg-cl;
  }
}