$main-font: 'Roboto',sans-serif;
$logo-font: 'Raleway',sans-serif;
$main-txt-cl: #212121;
$text-cl: #757575;
$accent-txt-cl: #2196f3;
$btn-txt-cl: #ffffff;
$adrs-txt-cl: #ffffff;
$main-line-h: calc(16 / 14);
$logo-line-h: calc(31 / 26);
$txt-line-h: calc(24 / 14);
$main-letter-s: 0.03em;
$additional-letter-s: 0.02em;
$accent-letter-s: 0.06em;
$main-bcg-cl: #ffffff;
$accent-bcg-cl: #2f303a;
$btn-bcg-cl: #2196f3;
$btn-act-bcg-cl: #188ce8;
$icon-txt-cl: #afb1b8;
$perehid: 250ms cubic-bezier(0.4, 0, 0.2, 1);

